<h1>BURGERS!</h1> 

<h2>Burgers I want to eat! </h2> 
<ul>
    {{#each burgers}}
        {{#unless devoured}}
            {{id}}
            {{burger_name}} 
        {{/unless}}
    {{/each}}    
</ul> 



<h2>Burgers I already ate.</h2>
